audio {
    display: none;
}

table td {
    width: 120px;
    height: 120px;
    border: 1px solid black;
    text-align: center;
    font-size: 40px;
    cursor: pointer;
}

table td:hover {
    background-color: #ecf0f1;
}

table td.blue:hover {
    cursor: no-drop;
}

table td.red:hover {
    cursor: no-drop;
}

.red {
    color: #000; /* Fallback for older browsers */
    color: rgba(255, 255, 255, 0.1);

    background-image: url('kohegyes2.jpg');
    background-repeat:no-repeat;
    background-size: 120px 120px;
}

.blue {
    color: #000; /* Fallback for older browsers */
    color: rgba(255, 255, 255, 0.5);

    background-image: url('unnamed.jpg');
    background-repeat:no-repeat;
    background-size: 120px 120px;
}