#prizes {
    background-color: black;
    font-weight: bold;
    width: 100%;
    height: 80%;
    color: rgb(210, 127, 44);
    /* border: 5px solid rgb(107, 100, 154); */
}

#prizes .prize-id {
    color: white;
    padding-left: 20px;
}

#prizes .checkpoint {
    color: white;
}

.answer {
    background-color: black;
    width: 46%;
    height: 50px;
    font-weight: bold;
    color: white;
}

.answer span {
    color: rgb(210, 127, 44);
}

#question-container {
    position: fixed;
    bottom: 42px;
    width: 68%;
}

.question-body {
    background-color: black;
    color: white;
    height: 50px;
    width: 828px;
    font-weight: bold;
    border-radius: 5px;
}